.header-bg {
  background-color: var(--c12);
}

.header {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 32px 20px;
}

.hamburguer {
  border-top: 2px solid white;
  display: none;
  cursor: pointer;
  transition: 0.2s;
  /* position: absolute; */
}

.hamburguer::after,
.hamburguer::before {
  content: "";
  display: block;
  width: 22px;
  height: 2px;
  background-color: white;
  margin-top: 5px;
  position: relative;
  transition: 0.2s;
}

.header a {
  display: block;
  position: relative;
}

.header a::after {
  position: absolute;
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  background-color: var(--w);
  margin-top: 6px;
}

.header a:hover::after {
  width: 100%;
  transition: 0.3s;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 40px;
}

.header-menu a {
  display: block;
  position: relative;
}

.header-menu a:after {
  position: absolute;
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  background-color: var(--w);
  margin-top: 4px;
}

.header-menu a:hover::after {
  width: 100%;
  transition: 0.3s;
}

.introducao-texto h1.ativo {
  color: red;
}

.header-menu a.ativo::after {
  width: 100%;
  background-color: var(--p1);
}

.header-menu a.ativo {
  color: var(--p1);
}

@media (max-width: 800px) {
  .header {
    gap: 10px;
  }
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    background-color: var(--c11);
    padding: 5px 10px;
    border-radius: 4px;
    display: block;
    font-size: 1rem;
  }
  .header-menu a:after {
    display: none;
  }
  .header a::after {
    display: none;
  }
}

@media (max-width: 600px) {
  body {
    position: relative;
  }
  .header-menu {
    visibility: hidden;
    position: absolute;
    flex-direction: column;
    justify-content: start;
    background-color: black;
    top: 96px;
    right: 0px;
    height: 100vh;
    /* padding: 20px; */
    width: 0%;
    transition: 0.3s;
    overflow: hidden;
    z-index: 9;
  }
  .header-menu.ativo {
    visibility: visible;
    width: 40%;
  }
  .header-menu a {
    margin-top: 10px;
    text-align: center;
    background-color: black;
  }
  .hamburguer {
    display: block;
  }
  .header.ativo .hamburguer {
    border-top: 0px;
  }

  .header.ativo .hamburguer::after {
    top: -7px;
    transform: rotate(-135deg);
  }

  .header.ativo .hamburguer::before {
    transform: rotate(135deg);
  }
}
